/config.php
admin/config.php
/.htaccess
.DS_STORE

.vscode/*
.idea/*

system/storage/logs/*
!system/storage/logs/index.html

system/storage/cache/*
!system/storage/cache/index.html

system/storage/certificate/*
!system/storage/certificate/index.html

system/storage/download/*
!system/storage/download/index.html

system/storage/modification/*
!system/storage/modification/index.html

system/storage/session/*
!system/storage/session/index.html

image/cache/*
!image/cache/index.html

image/catalog/*
!image/catalog/index.html

admin/view/stylesheet/bootstrap.css

phpstan.neon
